* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans Condensed";
}

nav ul {
  list-style-type: none;
  display: none;
}

nav ul a {
  display: block;
  background: #1b262c;
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #deddfa;
  transition: color 0.5s ease, background 0.5s ease, padding 0.5s ease;
}
nav ul a:hover {
  background: #30475e;
  color: #f1935c;
  padding-left: 30px;
}

.nav-container img {
  width: 100px;
  align-self: center;
}

.nav-container {
  padding: 0 20px;
  background: #1b262c;
  border-bottom: 3px solid #678a74;
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 7px;
  background: #678a74;
}
.btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid #678a74;
  align-self: center;
}

/* header {
  min-height: 100vh;
  background: url(image/header-bg-2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),
    url(image/header-bg-2.jpeg) center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 0 auto;
}
.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #727376;
}

.banner h3 {
  text-transform: capitalize;
  font-size: 20px;
  color: #5b8c5a;
}

.and {
  color: #f58634;
}
.banner-icons {
  padding: 20px;
}
.banner-icons a {
  display: inline-block;
  font-size: 30px;
  background: #474747;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 50%;
  color: #f5f3f5;
  transition: color 0.5s ease, transform 0.5s ease;
}

.banner-icons a:hover {
  color: #a8cf45;
  transform: translateY(-10px);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media screen and (min-width: 776px) {
  .nav-container {
    display: none;
  }
  nav ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(103, 138, 116, 0.8);
  }
  nav ul a {
    background: transparent;
  }
}

/* ========services=============== */

.services {
  min-height: 80vh;
  background: url(image/header-bg-1.jpeg) center/cover fixed no-repeat;
  display: flex;
  align-items: center;
}
.service {
  color: #727376;
  display: flex;
  margin: 40px;
}
.service-icon {
  align-self: center;
  font-size: 50px;
  margin-right: 20px;
  padding: 20px;
  color: #8cba51;
  background: #f1f3f4;
  border: 3px solid #bac7a7;
  border-radius: 50%;
  transition: color 0.5s ease, background 0.5s ease;
}

.service-icon:hover {
  color: #fff;
  background: #8cba51;
}
.service-text {
  align-self: center;
}
.service-text h3 {
  text-transform: uppercase;
}
.service-text p {
  line-height: 2;
}

@media screen and (min-width: 576px) {
  .services-center {
    width: 70%;
  }
}
@media screen and (min-width: 776px) {
  .services-center {
    width: 50%;
  }
}

/*====================Projects============== */

.projects {
  padding: 0 0 100px 0;
  background: #f5f3f5;
}

.title h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #727376;
}

.title-underline {
  background: #8cba51;
  width: 100px;
  height: 4px;
  margin: 10px auto;
}

.title {
  padding: 50px 0;
}
.project {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  overflow: hidden;
}
.projects img {
  width: 100%;
  display: block;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.projects img:hover {
  opacity: 0.3;
  cursor: pointer;
  transform: scale(1.2);
}

/* @media screen and (min-width: 576px) {
  .projects-center {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    flex: 0 0 calc(50%);
  }
}

@media screen and (min-width: 992px) {
  .project {
    flex: 0 0 calc(33.3333%);
  }
} */

@media screen and (min-width: 576px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ============About Us================= */

.about {
  min-height: 100vh;
  padding: 100px 0;
  background: url(image/about.jpeg) center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 60px 40px;
  transition: background 0.3s ease;
}

.about-card:hover {
  background: #e8f9e9;
}
.about-card h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: #474747;
}
.about-card .fa-angellist {
  font-size: 60px;
  color: #5b8c5a;
  margin: 20px 0;
}

.about-card p {
  line-height: 2;
  color: #474747;
}
@media screen and (min-width: 776px) {
  .about-card {
    max-width: 50%;
  }
  .about-card p {
    max-width: 70%;
    margin: 0 auto;
  }
}

/* ============filler Sections=========== */

.filler {
  min-height: 60vh;
  background: url(image/filler.jpeg) center/cover fixed no-repeat;
}
